<!--<div class="entry">
  <img class="upperWave" src="/assets/images/upperWave.png">
  <div class="logo">
    <img class="car" src="/assets/images/car.png">  
    <img class="brand" src="/assets/images/fuelent.png">
  </div>
  <img class="lowerWave" src="/assets/images/lowerWave.png">
</div>-->

<div class="login">
  <img class="upperWave" src="/assets/images/loginLaine.png">
  <div class="loginForm">
    <form>
      <div class="email"><input type="email" placeholder="Email"></div>
      <div class="password"><input type="password" placeholder="Password"></div>
    </form>
    <button class="submit">LOGIN</button>
  </div>
</div>
