$profileOrange: #F6A623;
$background: #30333E;
$lightOrange: #FF7200;
$darkOrange: #FF3E00;

html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background: $background;
}

* {
    font-family: Avenir, Helvetica;
}