h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}


button {
    width: 60px;
    height: 30px;
    background: none;
    border: 2px solid gray;
    cursor: pointer;
}

button:hover {
    background: #aaaaaa;
}